* {
    box-sizing: border-box;
    margin: 0;
}

footer,
header,
.hero {
    background-color: #1f2937;
}

footer,
h1 {
    text-align: center;
}

header.h2,
.hero {
    color: #f9faf8;
}

h1.hero {
    font-size: 48px;
    font-weight: 900;
}

header.h2 {
    font-size: 24px;
}

footer,
header a,
p.hero {
    font-size: 18px;
    color: #e5e7eb;
}

button,
.call_to_action {
    background-color: #3882f6;
}

h1.info {
    font-size: 36px;
    font-weight: 900;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.quote blockquote {
    max-width: 50%;
    margin: 0 auto;
}

.quote figcaption {
    font-size: 18px;
    font-weight: 900;
    max-width: 50%;
    text-align: right;
    margin: 0 auto;
}

h1.info,
.quote {
    color: #1f2937;
}