/* Layout */

* {
    box-sizing: border-box;
    margin: 0;
}

.w66p,
.flex,
.quote blockquote,
.quote figcaption {
    margin: 0 auto;
}

.header {
    width: 33%;
}

.w66p {
    max-width: 66%;
}

.header li {
    display: inline-flex;
    padding: 0 10px;
}

.flex.center {
    display: flex;
    justify-content: center;
}

.quote blockquote,
.quote figcaption {
    max-width: 50%;
}

/* Colors */

h1.info,
.quote {
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
}

button,
.call_to_action {
    background-color: #3882f6;
}

footer,
.hero a,
p.hero {
    color: #e5e7eb;
}

header.h2,
.hero {
    color: #f9faf8;
}

footer,
header,
.hero {
    background-color: #1f2937;
}

/* Text and Fonts */

footer,
h1 {
    text-align: center;
}

header.h2,
.hero {
    text-align: left;
}

h1.hero {
    font-size: 48px;
    font-weight: 900;
}

header.h2 {
    font-size: 24px;
}

footer,
.hero a,
p.hero {
    font-size: 18px;
}

h1.info {
    font-size: 36px;
    font-weight: 900;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.quote figcaption {
    font-size: 18px;
    font-weight: 900;
    text-align: right;
}